# Ignore node_modules directory
node_modules/

# Ignore .cache directory
.cache/

# Ignore .env file
.env

# Ignore dist directory
dist/

# Ignore log files
*.log

# Ignore macOS-specific files
.DS_Store
