body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header, main, footer {
  padding: 2vh 5vw;
}

main {
  flex: 1; /* Take up remaining space */
}