.header-bar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 2vh;
}

.header-image {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.left {
  display: flex;
  align-items: center;
  margin-right: auto;
  width: 70vw;
}

.left a {
  color: #FFF;
}

.right {
  display: flex;
  align-items: center;
  margin-left: auto;
  height: 18px;
  font-size: 18px;
  line-height: 18px;
  color: #FFF;
}

.right a {
  color: #FFF;
}

.icon {
  font-size: 24px;
}

.right span {
  margin-right: 10px;
}